data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/chunks/*
!data/chunks/.gitkeep
!data/chunks/chunks.json
embeddings/*
!embeddings/.gitkeep
indexes/*
.env
__pycache__/
*.pyc
.venv/
venv/
.ipynb_checkpoints/
node_modules/
