data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/chunks/*
!data/chunks/.gitkeep
!data/chunks/chunks_demo_subset.json
embeddings/*
!embeddings/.gitkeep
indexes/*
!indexes/chroma_db_demo/
!indexes/chroma_db_demo/**
.env
__pycache__/
*.pyc
.venv/
venv/
.ipynb_checkpoints/
node_modules/
